[submodule "MealBridge-App"]
	path = MealBridge-App
	url = https://github.com/Fullmoons17/MealBridge-App
[submodule "MealBridge-Web"]
	path = MealBridge-Web
	url = https://github.com/Fullmoons17/MealBridge-Web
